body {
    margin: 0;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    line-height: 1.5;
    position: relative;
}

#theme-selector {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    padding: 5px 10px;
}

.border {
    border: 1px solid #ccc;
    width: 70%;
    max-width: 600px;
    background: #f2f2f2;
    padding: 70px 150px;
}

.main-title {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sub-title {
    text-align: center;
    color: #006EB6;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin: 0;
    text-transform: uppercase;
}

.divider {
    width: 97%;
    border: none;
    border-top: 1px solid grey;
    margin: 1px auto 40px auto;
}

.mission-content {
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.intro {
    text-align: left;
    margin-bottom: 20px;
}

.points {
    padding-left: 20px;
    margin: 0;
}

.points li {
    text-align: left;
    margin-bottom: 15px;
    margin-left: 25px;
}

.footer-logo {
    text-align: center;
    margin-top: 30px;
}

.footer-logo .logo {
    width: 150px;
    height: auto;
}

.dark {
    background-color: #333;
    color: #fff;
}

.dark .border {
    background-color: #333;
    border-color: #fff;
}

.dark .sub-title {
    color: #aad4ff;
}

.dark p,
.dark li {
    color: #fff;
}

.dark .divider {
    border-top: 1px solid white;
}